<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--配置数据源,交给Spring做-->
    <typeAliases>
        <package name="com.zhang.pojo"/>
    </typeAliases>


    <mappers>
        <!--dao里面的xml与接口名一致的话,可以使用class绑定
            如果不一致,使用resource绑定-->
        <mapper class="com.zhang.dao.BookMapper"></mapper>
    </mappers>
</configuration>